---

import "../styles/global.css";
---
<div class="border-2 border-black mx-auto max-w-md overflow-hidden rounded-xl shadow-md">
<h1 class="text-3xl font-bold text-center md:text-6xl md:text-center">MIS XV AÑOS</h1>
    <p class="text-2xl md:text-4xl md:text-center">La Fiesta Empieza en ...</p>

    <div class="flex place-content-around ">
        <div>
            <p id="days" class="text-2xl text-center md:text-4xl">09</p>
            <span class="text-1xl text-center md:text-3xl">días</span>
        </div>
        <div>
            <p id="hours" class="text-2xl text-center md:text-4xl">23</p>
            <span class="text-1xl text-center md:text-3xl">horas</span>
        </div>
        <div>
            <p id="min" class="text-2xl text-center md:text-4xl">50</p>
            <span class="text-1xl text-center md:text-3xl">minutos</span>
        </div>
        <div>
            <p id="sec" class="text-2xl text-center md:text-4xl">50</p>
            <span class="text-1xl text-center md:text-3xl">segundos</span>
        </div>
    </div>
    <div class="notify">
        <h2>RECIBIR NOTIFICACIONES</h2>
        <form class="form-not">
            <input type="email" name="email" id="email" placeholder="Correo electrónico...">
            <input type="submit" value="Ir">
        </form>
    </div>
</div>